@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri|PT+Sans'); /* Google fonts import */

/* For future reference */
/* font-family: 'Hind Siliguri', sans-serif; */
/* font-family: 'PT Sans', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */

body {
  background-color: #232323;
  margin: 0px;
}

.draggable {
  background-color: #443266;
  height: 25px;
  width: 1000px;
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

.toolbar {

}
